@import "reset.css";

html {
  box-sizing: border-box;
  color: #495057;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f1f3f5;
}

input[type="checkbox"] {
  margin: 0;
}

.recharts-legend-wrapper div {
  justify-content: flex-start;
}
